 .App {
   text-align: center;
 }

 .weather-data {
   padding: 30px;

   .search-data {
     width: 300px;
   }

   .hourly-list {
     display: flex;
     list-style-type: none;
     overflow-x: auto;
     padding: 0;
     margin: 0;
   }

   .hourly-item {
     flex: 0 0 auto;
     margin-right: 16px;
     text-align: center;
   }
 }